
<h2>View</h2>

@*<div id="video-placeholder"></div>

<script src="https://www.youtube.com/iframe_api"></script>
<script>
    var player;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('video-placeholder', {
            width: 600,
            height: 400,
            videoId: 'Xa0Q0J5tOP0',
            playerVars: {
                color: 'white',
                playlist: 'taJ60kskkns,FG0fTKAqZ5g'
            },
            events: {
                onReady: initialize,
                onStateChange: onStateVideoChange
            }
        });
    }
    function initialize() {
        event.target.setVolume(100);
        event.target.playVideo();
        
        
    }
    function onStateVideoChange() {
    }

</script>*@
<div>
        <iframe id="existing-iframe-example"
                width="640" height="360"
                src= @ViewBag.Video;
                frameborder="0"
                style="border: solid 4px #37474F"></iframe>
        <script type="text/javascript">
            var tag = document.createElement('script');
            tag.id = 'iframe-demo';
            tag.src = 'https://www.youtube.com/iframe_api';
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('existing-iframe-example', {
                    width: 600,
                    height: 400,
                    videoId: 'taJ60kskkns',
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            }
            function onPlayerReady(event) {
                document.getElementById('existing-iframe-example').style.borderColor = '#FF6D00';
                event.target.unMute();
                event.target.setVolume(100);
                event.target.playVideo();
            }
            function changeBorderColor(playerStatus) {
                var color;
                if (playerStatus == -1) {
                    color = "#37474F"; // unstarted = gray
                } else if (playerStatus == 0) {
                    color = "#FFFF00"; // ended = yellow
                } else if (playerStatus == 1) {
                    color = "#33691E"; // playing = green
                } else if (playerStatus == 2) {
                    color = "#DD2C00"; // paused = red
                } else if (playerStatus == 3) {
                    color = "#AA00FF"; // buffering = purple
                } else if (playerStatus == 5) {
                    color = "#FF6DOO"; // video cued = orange
                }
                if (color) {
                    document.getElementById('existing-iframe-example').style.borderColor = color;
                }
            }
            function onPlayerStateChange(event) {
                changeBorderColor(event.data);
            }
        </script>
    </div>