body {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 100vh;
    background-color: #C5EFF7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

.whitespace-remove {
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#landing-container {
    padding: 0px;
    margin: 0px;
}

#landing-container .btn {
    margin: auto;
    border-radius: 0px;
    height: 50vh;
    font-size: 20vw;
    text-align: center;
    vertical-align: middle;
    line-height: 50vh;
}
host-index-container {
    padding: 0px;
    margin: 0px;
    background-color: red;
}

#host-index-container .btn {
    margin: auto;
    border-radius: 0px;
    text-align: center;
    vertical-align: middle;
}

/*#host-index-container .div {
    margin: auto;
    border-radius: 0px;
    text-align: center;
    vertical-align: middle;
}*/

.modal {
    text-align: center;
}

.modal::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#hostJumbotron {
    height: 50vh;
    position: relative;
}

    #hostJumbotron .jumbotron {
        min-height: 100%;
        background-color: #22313F;
        border-radius: 0px;
    }

.test {
     margin: 0px;
     margin-top: 0px;
     border: none;
     border-spacing: 0px;
 }
#hostJumboTronContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F9690E;
}
#attendeeJumboTronContent {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
}

#attendeeJumbotron {
    height: 50vh;
    position: relative;
}

    #attendeeJumbotron .jumbotron {
        min-height: 100%;
        background-color: #22313F;
        border-radius: 0px;
    }

#songSearchButton {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    background-color: #F9690E;
    display: block;
}