

@{
    ViewBag.Title = "IndexHost";
}


<div class="container whitespace-remove" id="host-index-container">
    <div class="row whitespace-remove" id="hostJumbotron">
        <div class="jumbotron jumbotron-fluid whitespace-remove">
            <div class="container" id="hostJumboTronContent">
                <center>
                    <h3>Current Event Code</h3>
                    <h1>1B24X</h1>
                </center>

            </div>
        </div>
    </div>
    <div class="row whitespace-remove">
        <div class=" whitespace-remove">
            <div class="collapse" id="eventMenu">
                <div class="bg-primary p-4 whitespace-remove">
                    <a href="#" class="btn btn-primary btn-block btn-lg" role="button" aria-disabled="false" data-toggle="modal" data-target="#modalCreateEventForm">Create Event</a>
                    <button class="btn btn-info btn-block btn-lg" type="button">Manage Current Event</button>
                    <a href="#" class="btn btn-primary btn-block btn-lg" role="button" aria-disabled="false" data-toggle="modal" data-target="#modalPastEventForm">My Past Events</a>
                </div>
            </div>
            <nav class="whitespace-remove">
                <button class="btn btn-primary btn-block btn-lg navbar-toggler test" type="button" data-toggle="collapse" data-target="#eventMenu" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    My Events Manager
                </button>
            </nav>
        </div>
        <div class="pos-f-t whitespace-remove">
            <div class="collapse whitespace-remove" id="playlistMenu">
                <div class="bg-primary p-4 whitespace-remove">
                    @*<button class="btn btn-primary btn-block btn-lg" type="button">Set Playlist</button>*@
                    <a href="#" class="btn btn-primary btn-block btn-lg" role="button" aria-disabled="false" data-toggle="modal" data-target="#modalSetPlaylistForm">Set Playlist</a>
                    <button class="btn btn-info btn-block btn-lg" type="button">View Current Que</button>
                    <button class="btn btn-primary btn-block btn-lg" type="button">View Popular Songs</button>
                    <button class="btn btn-info btn-block btn-lg" type="button">Manage Banned Songs</button>
                </div>
            </div>
            <nav class="whitespace-remove">
                <button class="btn btn-info btn-block btn-lg navbar-toggler test" type="button" data-toggle="collapse" data-target="#playlistMenu" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    My Music
                </button>
            </nav>
        </div>
    </div>
</div>

@* Create Event Modal *@
<div class="modal fade" id="modalCreateEventForm" tabindex="-1" role="dialog" aria-labelledby="myCreateEventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Create Event</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="defaultForm-CreateEvent" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-CreateEvent">Event Name</label>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default">Create Event</button>
            </div>
        </div>
    </div>
</div>
@* Past Event Modal *@
<div class="modal fade" id="modalPastEventForm" tabindex="-1" role="dialog" aria-labelledby="myPastEventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">View Past Events</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                @using (Html.BeginForm())
                {
                   
                        @Html.DropDownList("sudo")
                    
                }
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default">View Event Info</button>
            </div>
        </div>
    </div>
</div>
@* Set Playlist Modal *@
<div class="modal fade" id="modalSetPlaylistForm" tabindex="-1" role="dialog" aria-labelledby="modalSetPlaylistForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Set Playlist</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                @using (Html.BeginForm())
                {

                    @Html.DropDownList("sudo")

                }
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default">Submit</button>
            </div>
        </div>
    </div>
</div>