@model IEnumerable<TwilioProject.Models.Playlist>

<a href="#" class="btn btn-info btn-block btn-lg" role="button" aria-disabled="false" data-toggle="modal" data-target="#modalViewQueueList">View Queue</a>

<div class="modal fade" id="modalViewQueueList" tabindex="-1" role="dialog" aria-labelledby="modalViewQueueList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Event Queue</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                @* UNCOMMENT BEFORE DEPLOYMENT, ALSO DELETE THIS COMMENT BEFORE SUBMISSION *@
                    @*<ul class="list-group">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item">@Html.DisplayNameFor(x=>x.SongOrderID) | @Html.DisplayNameFor(x=>x.Title)</li>
                        }
                    </ul>*@

            </div>
        </div>
    </div>
</div>