@model TwilioProject.Models.Playlist
@{
    ViewBag.Title = "SongSearchResults";
}




<table class="table">
    <tr>
        <th>
            <p>Song Title</p>
        </th>

    </tr>

    @foreach (var item in ViewBag.SongList)
    {
        <tr>
            <td>
                @Html.DisplayTextFor(m => item);
            </td>
            <td>
                 @Html.ActionLink("Select", "SearchResult", new { title = item })
            </td>
        </tr>
    }

</table>
